h1,h4{
	color: black;
}
h5{
	background: orange;
	
	width:100px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
}
/*#dd{
	top: 420px;
	color: darkblue;
	z-index: 10;
}
#dd>li{
	background: gray ;
}
.active{
	background: blue !important;
}*/
*{
	list-style: none;
	padding:0;
	margin: 0;
}
#aa{
	margin: 0 auto;
}
#aa>li{
	margin-top: 10px;
	position: relative;
}
#aa>li img{
	width: 100%;
}
/* img:hover:transform: scale(2,2);*/
.xx{
	position: absolute;
	width:300px;
	height: 200px;
	background: rgba(0,0,0,0.5);
	left: 10;
	top: 0;
	display:none
}
