ul,li{
  list-style:none;
}
.left{
  border: 1px solid #ddd;
  border-radius: 10px;
  li{
    display: flex;
  border-bottom: 1px dotted #d4d4d4;
    p{

      padding:2px;
      margin: 3px;
    }
  }
}
.title,.t{
  background: pink;
  color: #FFF;
  padding:5px 10px;
}
.t{
  background: lightgoldenrodyellow;
}
.right{
  ul{
    display: flex;
  }
}
.right-top{
  display: block;

  li{
    display: inline-block;

    img{
      width:100px;
    }
  }
}